################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CW/.vs/ColdWarCrypto/FileContentIndex/647f2acb-39d7-4ddb-9bed-5eefd6daf71a.vsidx
/CW/.vs/ColdWarCrypto/FileContentIndex/9ee2bdc8-b32b-4511-b685-963f42777126.vsidx
